.Galeria_Fila > .Galeria_Columna{
	margin:5px;
}

.Galeria_Fila:after{
	content:"";
	display:table;
	clear:both;
	display: flex;
    justify-content: center; /* Centers the row horizontally */
    align-items: center; 
}

.Galeria_Columna{
	float:left;
	width:24%;
	border:2px;
	border-style:solid;
  	border-color:white;
}

.Modal{
	display: none;
  	position: fixed;
  	z-index: 1;
  	padding-top: 100px;
  	left: 0;
  	top: 0;
  	width: 100%;
  	height: 100%;
  	overflow: auto;
  	background-color: black;
}

.Contenido_Modal{
	position: relative;
	background-color: #fefefe;
	margin: auto;
	padding: 0;
	width: 90%;
  	max-width: 1200px;
}

.Boton_Cerrar{
  	color: white;
  	position: absolute;
  	top: 10px;
  	right: 25px;
  	font-size: 35px;
  	font-weight: bold;
}

.Boton_Cerrar:hover,
.Boton_Cerrar:focus {
  	color: #999;
  	text-decoration: none;
 	cursor: pointer;
}

.Diapositivas{
	display:none;
}

.Galeria_Anterior,
.Galeria_Siguente {
  	cursor: pointer;
  	position: absolute;
  	top: 50%;
  	width: auto;
  	padding: 16px;
  	margin-top: -50px;
  	color: white;
  	font-weight: bold;
  	font-size: 20px;
  	transition: 0.6s ease;
  	border-radius: 0 3px 3px 0;
  	user-select: none;
  	-webkit-user-select: none;
}

.Galeria_Siguente{
	right: 0;
  	border-radius: 3px 0 0 3px;
}

.Galeria_Anterior{
	left: 0;
  	border-radius: 3px 0 0 3px;
}


.Galeria_Anterior:hover,
.Galeria_Siguente:hover {
	background-color: rgba(0, 0, 0, 0.8);
}

.NumeroTexto{
	color: #f2f2f2;
  	font-size: 12px;
  	padding: 8px 12px;
  	position: absolute;
  	top: 0;
}

.Contenedor_Subtitulo {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover 
{
  filter: brightness(50%);
  cursor: pointer;
}
